@model Lanchonete.Models.RegistroCaixaDiario

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>RegistroCaixaDiario</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DataCaixa)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DataCaixa)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SaldoAbertura)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SaldoAbertura)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TotalEntradas)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TotalEntradas)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TotalSaidas)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TotalSaidas)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SaldoFechamento)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SaldoFechamento)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CaixaFechado)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CaixaFechado)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
